.loginForm {
  border: 10px;
  /* border-color: aqua; */
  background-color: #03b5a3;
  border-radius: 25px;
  padding: 1rem;
}
.loginForm i {
  margin-top: 7px;
}
.logBtn {
  display: flex;
  flex-direction: row-reverse;
  height: 50px;
}
.loginForm h3 {
  margin-right: 100px;
}
